html { color: #000; background: #FFF; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td { margin: 0px; padding: 0px; }
table { border-collapse: collapse; border-spacing: 0px; }
fieldset,img { border: 0px; }
address,caption,cite,code,dfn,em,strong,th,var { font-style: normal; font-weight: normal; } 
ol,ul { list-style: none; } 
caption,th { text-align: left; }
h1,h2,h3,h4,h5,h6 { font-size: 100%; font-weight: normal; } 
q:before, q:after { content:''; }
abbr,acronym { border: 0px; font-variant: normal; }
sup { vertical-align: text-top;}
sub { vertical-align: text-bottom; }
input,textarea,select { font-family: inherit; font-size: inherit; font-weight: inherit; }
input,textarea,select { *font-size: 100%; }
legend {	color: #000; }

header, nav, section, article, aside, footer { display: block; }